*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --site-font: 'Arimo', sans-serif;
}

header{
    padding: 20px;
}

main{
    background-color: whitesmoke;
    padding-top: 40px;
}

#logo{
    vertical-align: top;   
}

#logo-name{
    font-family: var(--site-font);
    font-size: 42px;
    font-weight: bold;
    margin-left: 5px;
 
}

#container{
    width: 1200px;
    margin: auto;
}

#add-container{
    margin-bottom: 5px;
    background-color: white;
    padding: 20px 80px;
    border-radius: 10px 10px 0 0;
}

.button{
    padding: 5px 10px;
    font-family: var(--site-font);
    border-radius: 5px;
}

.add-task{
    background-color: #47adf1;
    color: white;
    border: none;
}

.add-section{
    background-color: white;
    color: lightgrey;
    border: 1px solid lightgray;
}

#task-container{
    background-color: white;
    height: 100px;
}