*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --site-font: 'Mulish', sans-serif;
    --font-color: #444851;
}

header{
    padding: 20px;
}

main{
    background-color: whitesmoke;
    padding: 40px 0;
}

#logo{
    vertical-align: top;   
}

#logo-name{
    font-family: var(--site-font);
    font-size: 42px;
    font-weight: 800;
    margin-left: 5px;
 
}

#container{
    width: 1200px;
    margin: auto;
}

#add-container{
    margin-bottom: 5px;
    background-color: white;
    padding: 20px 80px;
    border-radius: 10px 10px 0 0;
}

.button{
    padding: 5px 10px;
    font-family: var(--site-font);
    border-radius: 5px;
}

.add-task{
    background-color: #47adf1;
    color: white;
    border: none;
}

.add-section{
    background-color: white;
    color: lightgrey;
    border: 1px solid lightgray;
}

#task-container{
    background-color: white;
    padding: 50px 80px;
    border-radius: 0 0 10px 10px;
}

.section{
    margin-bottom: 40px;
}

.section-name{
    font-family: var(--site-font);
    color: var(--font-color);
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 15px;
}

.arrow-section {
    font-size: 20px;
}

.task-done{
    color: #6dc5b1;
    border: 1px solid #6dc5b1; 
    width: 15px;
    height: 15px;
    text-align: center; 
    border-radius: 7px;
    line-height: 15px;
    display: inline-block;
    font-weight: 800;
    font-size: 10px;
}

.task-not-done{
    color: red;
    border: 1px solid red; 
    width: 15px;
    height: 15px;
    text-align: center; 
    border-radius: 7px;
    line-height: 15px;
    display: inline-block;
    font-weight: 800;
    font-size: 9px;
}

.main-text{
    font-family: var(--site-font);
    color: var(--font-color);
    font-weight: 600;
    margin-left: 3px;
}

.bookmark{
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 12px;
    font-family: var(--site-font);
    color: white;
}

.task{
    margin-bottom: 20px;
}

.editorial{
    background-color: #47adf1;
}

.q1{
    background-color: #9c72e4;
}

.recruiting{
    background-color: #64c0a9;
}

.mobile{
    background-color: #f39f33;
}

.website{
    background-color: #d863a0;
}

.sales{
    background-color: #b1c927;
}



